/* --------------------------------- */
/* CSS template for paged windmill */
/* --------------------------------- */

/* -------------------- CSS variables ---------------------- */
:root {
  --running-title-width: 2.5in;
  --screen-pages-spacing: 5mm;
  --main-color: #c78039;
  --main-font: "Gelasio";
  --header-font: "Inter";
}

/* ------------------------ Pages -------------------------- */
/* page size */
@page {
  size: 210mm 297mm;
}

/* normal page */
@page {
  margin: 1cm;
  padding: .5cm;

  @top-left-corner {
    content: "";
    border-bottom: 5px solid blue;
  }

  @top-left {
    content: string(h1-title);
    font-weight: bold;
    color: var(--main-color);
    border-bottom: 5px solid blue;
    width: 15cm;
    padding-left: 1.5cm;
  }

  @top-right {
    content: string(h2-text);
    color: var(--main-color);
    border-bottom: 5px solid blue;
    width: 6cm;
  }

  @top-right-corner {
    content: "";
    border-bottom: 5px solid blue;
  }
}

/* counter */
@page: left {

  /* numbering */
  @bottom-right {
    content: counter(page);
    color: var(--main-color);
    margin-left: 15cm;
    margin-right: -3cm;
    padding-left: 1cm;
    padding-right: 3cm;
    margin-bottom: 1cm;
    font-size: 14pt;
    font-weight: bold;
  }
}

@page: right {

  /* numbering */
  @bottom-left {
    content: counter(page);
    color: var(--main-color);
    margin-right: 15cm;
    margin-left: -3cm;
    padding-right: 1cm;
    padding-left: 3cm;
    margin-bottom: 1cm;
    font-size: 14pt;
    font-weight: bold;
  }
}

/* ------------------------ Front Cover --------------------- */
@page: first {
  background: url(_extensions/pagedreport/resources/logo/dots-logo.svg), url(_extensions/pagedreport/resources/img/windmill-img.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 35rem 58rem, 0cm 0cm;
  background-size: 8rem, cover;
  margin: 0;

  @top-left-corner {content: none;}
  @top-left {content: none;}
  @top-center {content: none;}
  @top-right {content: none;}
  @top-right-corner {content: none;}
  @bottom-right {content: none;}
  @bottom-left {content: none;}
}

.title,
.subtitle,
.author,
.date {
  color: #ffffff;
}

/* headers */
.title {
  font-size: 50pt;
  margin-right: 15%;
  font-weight: 700;
}

.subtitle {
  margin-right: 15%;
  font-size: 25pt;
}

.author {
  margin-top: 70%;
  font-size: 25pt;
}

.date {
  font-size: 25pt;
}

/* ------------------------ Back Cover ---------------------- */
@page back-cover {
  margin: 0 0 0 0;
  background-color: var(--main-color);
  background-image: var(--back-cover);
  background-repeat: no-repeat;
  background-position: 15cm 23cm;
  background-size: 4cm;
}


/* ------------------------ Fonts ---------------------------- */
p,
ul,
a,
ol {

}

h1,
h2,
h3,
h4 {

}

/* ------------------------ Style ----------------------------- */
/* colors */
h1,
h2,
h3,
h4 {
  color: var(--main-color)
}



/* normal headers */
h1 {
  font-size: 40pt;
}

h2 {
  font-size: 24pt;
}

/* text */
p,
ul,
ol {
  margin-right: 15%;
}