/* --------------------------------- */
/* CSS template for paged windmill */
/* --------------------------------- */

/* ------------------------ Pages -------------------------- */
/* page size */
/* normal page */
@page {
  margin: 1cm;
  margin-bottom: 2cm;

  padding-top: .5cm;
  padding-bottom: .5cm;

  @top-left-corner {
    content: "";
    border-bottom: 5px solid;
    border-bottom-color: var(--main-color);
  }

  @top-left {
    content: string(h1-title);
    font-size: 0.8rem;
    font-weight: bold;
    color: var(--main-color);
    border-bottom: 5px solid;
    border-bottom-color: var(--main-color);
    width: 100%;
    padding-left: 1.5cm;
  }

  @top-right {
    content: string(h2-text);
    font-size: 0.8rem;
    color: var(--main-color);
    border-bottom: 5px solid;
    border-bottom-color: var(--main-color);
    width: 8cm;
  }

  @top-right-corner {
    content: "";
    border-bottom: 5px solid;
    border-bottom-color: var(--main-color);
  }
}

/* counter */
@page: left {

  /* numbering */
  @bottom-right {
    content: counter(page);
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    border: solid 2px;
    width: 1cm;
    height: 1cm;
    text-align: center;
  }
}

@page: right {

  /* numbering */
  @bottom-left {
    content: counter(page);
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    border: solid 2px;
    width: 1cm;
    height: 1cm;
    text-align: center;
  }
}

/* ------------------------ Front Cover --------------------- */
@page: first {
  background: url(_extensions/pagedreport/resources/logo/dots-logo.svg), url(_extensions/pagedreport/resources/img/windmill-img.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: 35rem 58rem, 0cm 0cm;
  background-size: 8rem, cover;
  margin: 0;

}

.title,
.subtitle,
.author,
.date {
  color: #ffffff;
}

/* headers */
.title {}

.subtitle {}

.author {}

.date {}


/* ------------------------ Style ----------------------------- */
/* colors */
h1,
h2,
h3,
h4 {
  color: var(--main-color)
}

/* margin */
p,
ul,
ol,
a {
  padding-right: 3cm;
}